* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  @include make-container();
  @include make-max-width-container();
}

.block {
  background-color: hsl(0, 1%, 74%);
  border: 1px solid rgb(124, 121, 121);
  padding: 20px;
  text-align: center;
  height: 100%;
}

.grid-row {
  @include make-row();
  --bs-gutter-y: 1rem;

  & > * {
    @include make-col-ready();
  }
}

.header {
  @extend .grid-row;
  min-height: 90px;
  margin-bottom: 30px;

  &__logo {
    @include make-col(6);
  }

  &__nav {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;

    &__logo {
      @include make-col(2);
    }

    &__nav {
      @include make-col(10);
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.topic-1 {
  @extend .grid-row;
  min-height: 660px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(md) {
    &__item {
      @include make-col(6);
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.topic-2,
.topic-4 {
  @extend .grid-row;
  min-height: 600px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;

    &__item {
      @include make-col(12);
    }
  }
  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.topic-3 {
  @extend .grid-row;
  min-height: 500px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;

    &__item {
      @include make-col(6);
    }
  }
  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.form {
  @extend .grid-row;
  min-height: 430px;
  margin-bottom: 133px;

  @include media-breakpoint-up(md) {
    &__img {
      @include make-col(4);
    }

    &__form {
      @include make-col(8);
    }
  }
}

.footer {
  @extend .grid-row;

  @include media-breakpoint-up(sm) {
    &__logo {
      @include make-col(3);
    }

    &__policy {
      @include make-col(9);
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      @include make-col(2);
    }

    &__policy {
      @include make-col(10);
    }
  }
}

//!  gradient__blockgradient__blockgradient__blockgradient__blockgradient__block

.gradient__block {
  margin: 0 auto;
  width: 150px;
  height: 75px;
  border: 2px solid;
  border-radius: 10px;
  border-image: linear-gradient(180deg, #098aff 30%, #27cafb 40%, #fe32c5) 1;
}

.gradient-btn {
  position: relative;
  padding: 15px 20px;
  box-shadow: 0px 0px 15px 0px rgba(71, 75, 183, 1);


  cursor: pointer;
  background-color: transparent;
  margin-bottom: 50px;
  width: 400px;
  height: 70px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 50px;
}
.gradient-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 5px solid transparent;
  background: linear-gradient(180deg,#098aff 30%, #27cafb 40%, #fe32c5) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.gradient-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.parallax img {
  position: absolute;
  object-fit: contain;
}
.object--1 {
  top: 60%;
  left: 50%;
}
.object--2 {
  top: 70%;
  left: 63%;
}
.object--3 {
  top: 32%;
  left: 68%;
}
.object--4 {
  top: 64%;
  left: 31%;
}
.object--5 {
  top: 30%;
  left: 40%;
}
