* {
  box-sizing: border-box;
}

.page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  @include make-container();
  @include make-max-width-container();
}

.block {
  background-color: hsl(0, 1%, 74%);
  border: 1px solid rgb(124, 121, 121);
  padding: 20px;
  text-align: center;
  height: 100%;
}

.grid-row {
  @include make-row();
  --bs-gutter-y: 1rem;

  & > * {
    @include make-col-ready();
  }
}

.header {
  @extend .grid-row;
  min-height: 90px;
  margin-bottom: 30px;

  &__logo {
    @include make-col(6);
  }

  &__nav {
    @include make-col(6);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 40px;

    &__logo {
      @include make-col(2);
    }

    &__nav {
      @include make-col(10);
    }
  }

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.topic-1 {
  @extend .grid-row;
  min-height: 660px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 100px;
  }

  @include media-breakpoint-up(md) {
    &__item {
      @include make-col(6);
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.topic-2,
.topic-4 {
  @extend .grid-row;
  min-height: 600px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;

    &__item {
      @include make-col(12);
    }
  }
  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.topic-3 {
  @extend .grid-row;
  min-height: 500px;
  margin-bottom: 30px;

  @media (min-width: $mobile) {
    margin-bottom: 50px;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;

    &__item {
      @include make-col(6);
    }
  }
  @media (min-width: $desktop) {
    margin-bottom: 150px;
  }
}

.form {
  @extend .grid-row;
  min-height: 430px;
  margin-bottom: 133px;

  @include media-breakpoint-up(md) {
    &__img {
      @include make-col(4);
    }

    &__form {
      @include make-col(8);
    }
  }
}

.footer {
  @extend .grid-row;

  @include media-breakpoint-up(sm) {
    &__logo {
      @include make-col(3);
    }

    &__policy {
      @include make-col(9);
    }
  }

  @include media-breakpoint-up(md) {
    &__logo {
      @include make-col(2);
    }

    &__policy {
      @include make-col(10);
    }
  }
}
